In [1]:
# hello world program
print("hello world")

hello world

In [2]:
# variables
# do not have to define datatype

name = "Piyush"
age = 20
education = "Computer Science"
working = True

# Convert age to string before concatenating
print(name + " is " + str(age) + " years old and studying " + education)

Piyush is 20 years old and studying Computer Science

In [3]:
name = "Ishika"
age = 22
education = "Psychology"
working = True
print(name + " is " + str(age) + " years old and studying " + education)

Ishika is 22 years old and studying Psychology

In [4]:
firstName = input("Enter your first name: ")
genius = input("Are you a genius: ")

if(genius == "True"):
    print(firstName + " is a genius")
else:
    print(firstName + " is not a genius")

Enter your first name: Piyush
Are you a genius: True
Piyush is a genius

In [5]:
# type cast

old_age = input("Enter your old age: ")
new_age = int(old_age) + 1
print(new_age)

# The input() function returns a string, and you cannot directly add an integer to a string in Python.
# You need to convert the input to an integer before performing the addition.

Enter your old age: 20
21

In [6]:
print(float(18))

18.0

In [7]:
# print sum of 2 nums

num1 = input("Enter num 1: ")
num2 = input("Enter num 2: ")
sum = int(num1) + int(num2)
print("Sum is: " + str(sum))

Enter num 1: 34
Enter num 2: 43
Sum is: 77

In [8]:
# strings

name = "heisenberg"
print(name.capitalize())
print(name.upper())

print(name.find("sen"))   # 3
print(name.find("seb"))   # -1, "seb" substring doesn't exists

print(name.replace("berg", "hower"))   # only replaces if substr to be replaced exist

print("berg" in name)   # True if exists, False otherwise

Heisenberg
HEISENBERG
3
-1
heisenhower
True

In [9]:
# arithmetic operators

print(4 ** 3)   # exponential
print(73 / 37)
print(73 // 37)  # rounding off
print(257 % 73)  # modulo

64
1.972972972972973
1
38

In [10]:
i = 5
print(i)
i += 2
print(i)
i *= 7
print(i)
i %= 5
print(i)

5
7
49
4

In [11]:
result = 5 + (6 * 45) - 2 ** 5 / 65
print(result)

274.5076923076923

In [12]:
result = ~6 & 2 ^ 9 | 5
print(result)

13

In [13]:
print(23 == "23")
print(23 == 23)
print(23 != 23)
print(23 >= 23)
print(23 < 23)

False
True
False
True
False

In [14]:
age = input("Enter your age: ")

if(int(age) >= 60):
    print("ðŸ’€ðŸ’€")
elif(int(age) >= 18):
    print("Adult")
else:
    print("Teenage")

Enter your age: 89
ðŸ’€ðŸ’€

In [20]:
# calculator

operand1 = input("Enter first operand: ")
operand2 = input("Enter second operand: ")
operator = input("Enter operator: ")

result = None

operand1 = int(operand1)
operand2 = int(operand2)

if(operator == "+"):
    result = operand1 + operand2
elif(operator == "-"):
    result = operand1 - operand2
elif(operator == "*"):
    result = operand1 * operand2
elif(operator == "/"):
    result = operand1 / operand2
elif(operator == "%"):
    result = operand1 % operand2
else:
    print("Invalid operation")
    
if result is not None:
    print("Result is: " + str(result))

Enter first operand: 23
Enter second operand: 23
Enter operator: (
Invalid operation

In [24]:
arr = range(5)   # 0 1 2 3 4
print(arr)

range(0, 5)

In [29]:
i = 100
while i != 0:
    print(i, end = " ")
    i -= 1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [35]:
for i in range(5, 0, -1):
    print(i * "*")

*****
****
***
**
*

In [52]:
# list

list = ["three", 6, "NINE"]
print(list[-1])   # last item
print(list[0])   # first item

reducedList = list[1: 2]
print(reducedList)

list.append("ðŸ˜¶")
list.insert(2, "Mysterio")

for item in list:
    print(item, end = " ")
print()
    
print(619 in list)

NINE
three
[6]
three 6 Mysterio NINE ðŸ˜¶
False

In [53]:
fruits = ["apple", "banana", "cherry"]

print(" ".join(fruits))

apple banana cherry

In [57]:
planets = ["Mercury", "Venus", "Jupyter", "Uranus", "Saturn"]

for planet in planets:
    if planet == "Jupyter":
        continue
    if planet == "Uranus":
        break
    print(planet)

Mercury
Venus

In [62]:
# tuple

marks = (28, 38, 98, 84, 38)
# marks[0] = 37

print(marks.count(84))
print(marks.index(98))

1
2